# Dependencies & local artifacts
node_modules/
.expo/
dist/
web-build/
.turbo/
.cache/

# Android local build artifacts & Gradle caches (1.6GB+)
android/.gradle/
android/build/
android/app/build/
android/.kotlin/
android/*.apk
android/*.aab

# OS and Git
.git/
.DS_Store
Thumbs.db

# Logs & temp files
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
